name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    # At 00:00 on Monday.
    - cron: "0 0 * * 1"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s:
          # - "1.12"
          # - "1.13"
          # - "1.14"
          # - "1.15"
          # - "1.16"
          # - "1.17"
          # - "1.18"
          - "1.19"
          - "1.20"
          - "1.21"
          - "1.22"
          - "1.23"
    steps:
      - uses: actions/checkout@v1

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Publish to GitHub Container Registry
        env:
          REGISTRY: ghcr.io/appscode
          DOCKER_TOKEN: ${{ secrets.LGTM_GITHUB_TOKEN }}
          USERNAME: 1gtm
        run: |
          docker login ghcr.io --username ${USERNAME} --password ${DOCKER_TOKEN}
          make release RELEASE=${{ matrix.k8s }}

      - name: Publish to Docker Registry
        env:
          REGISTRY: appscode
          SRC_REG: ghcr.io/appscode
          DOCKER_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          USERNAME: 1gtm
        run: |
          docker login --username ${USERNAME} --password ${DOCKER_TOKEN}
          make release RELEASE=${{ matrix.k8s }}
